<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/akarapontdev1996/idptool-adhoc/blob/main/IDP%20Tools.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/akarapontdev1996/idptool-adhoc/blob/main/icon.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/akarapontdev1996/idptool-adhoc/blob/main/icon.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.companyname.IDPToolV2</key>
		<string>IDPTools-adhoc</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>GMX7Y5H22U</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
